<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Кандидаты</title>
    <div th:replace="~{fragments/header :: header}"></div>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">Dream Job</a>
        <div class="collapse navbar-collapse">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="/">Главная</a>
                <a class="nav-item nav-link" th:href="@{/vacancies}">Вакансии</a>
                <a class="nav-item nav-link active" th:href="@{/candidates}">Кандидаты</a>
                <a class="nav-item nav-link" th:href="@{/vacancies/create}">Создать вакансию</a>
            </div>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Имя</th>
                <th scope="col">Описание</th>
                <th scope="col">Дата создания</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="candidate: ${candidates}">
                <td th:text="${candidate.id}" />
                <td th:text="${candidate.name}" />
                <td th:text="${candidate.description}" />
                <td th:text="${{candidate.creationDate}}" />
            </tr>
            </tbody>
        </table>
    </div>
</div>
<footer th:insert="~{fragments/footer :: footer}"></footer>
</body>
</html>