<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link th:href = "@{/css/bootstrap.min.css}" rel="stylesheet">
<script th:src="@{/js/code.jquery.com_jquery-3.7.0.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>

<div th:fragment="footer" class="text-center d-flex flex-column align-items-center pt-3 mt-4 text-muted border-top">
    <p>
        DreamJob
        <br>
        <a href="https://github.com/rellaxa">rellaxa</a><br>
        <a href="https://job4j.ru">Job4j</a>
    </p>
</div>