<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Работа мечты!</title>
    <div th:replace="~{fragments/header :: header}"></div>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">Job4jDreamJob</a>
        <div class="collapse navbar-collapse">
            <div class="navbar-nav me-auto">
                <a class="nav-item nav-link active" href="/">Главная</a>
                <a class="nav-item nav-link" th:href="@{/vacancies}">Вакансии</a>
                <a class="nav-item nav-link" th:href="@{/candidates}">Кандидаты</a>
                <a class="nav-item nav-link" th:href="@{/vacancies/create}">Создать вакансию</a>
                <a class="nav-item nav-link" th:href="@{/candidates/create}">Создать резюме</a>
            </div>
        </div>
        <div class="d-flex">
            <a class="nav-link text-secondary" th:href="@{/users/register}">Регистрация</a>
            <a class="nav-link text-secondary" th:href="@{/users/login}">Войти</a>
        </div>
    </div>
</nav>
<div class="container mt-2">
    <h3>Проект job4j_dreamjob</h3>
    <ul>
        <li><a th:href="@{/vacancies}">Вакансии</a></li>
        <li><a th:href="@{/candidates}">Кандидаты</a></li>
        <li><a th:href="@{/vacancies/create}">Создать вакансию</a></li>
        <li><a th:href="@{/candidates/create}">Создать резюме</a></li>
        <li><a th:href="@{/users/register}">Регистрация</a></li>
        <li><a th:href="@{/users/login}">Войти</a></li>
    </ul>
</div>
<footer th:insert="~{fragments/footer :: footer}"></footer>
</body>
</html>