<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Вакансии</title>
    <div th:replace="~{fragments/header :: header}"></div>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">DreamJob</a>
        <div class="collapse navbar-collapse">
            <div class="navbar-nav me-auto">
                <a class="nav-item nav-link" href="/">Главная</a>
                <a class="nav-item nav-link active" th:href="@{/vacancies}">Вакансии</a>
                <a class="nav-item nav-link" th:href="@{/candidates}">Кандидаты</a>
                <a class="nav-item nav-link" th:href="@{/vacancies/create}">Создать вакансию</a>
                <a class="nav-item nav-link" th:href="@{/candidates/create}">Создать резюме</a>
            </div>
            <div class="d-flex">
                <a class="nav-link text-secondary" th:href="@{/users/register}">Регистрация</a>
            </div>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Имя</th>
                <th scope="col">Дата создания</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="vacancy: ${vacancies}">
                <td>
                    <span th:if="${vacancy.visible}">
                        <i class="bi bi-check-square"></i>
                    </span>
                    <span th:if="${!vacancy.visible}">
                        <i class="bi bi-square"></i>
                    </span>
                </td>
                <td th:text="${vacancy.id}"/>
                <td>
                    <a th:text="${vacancy.title}"
                       th:href="@{/vacancies/{vacancyId}(vacancyId=${vacancy.id})}"></a>
                </td>
                <td th:text="${{vacancy.creationDate}}"/>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>