<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Вывод логов в консоль -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Уровень логирования для SQL2o -->
    <logger name="org.sql2o" level="DEBUG"/>

    <!-- Глобальный уровень логирования -->
    <root level="INFO">
        <appender-ref ref="console"/>
    </root>
</configuration>